<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.ico">
    <title>Prakhar Todo</title>
</head>
<body>
    <header>
        <div class="box" id="heading">
            <h1><%= listTitle%></h1>
            <% if(kindOfDay === "Saturday" || kindOfDay === "Sunday"){%>
                <h1 style="color:purple"> <%= Dayname%><br> <%= kindOfDay%> <%= Date%> <%= Month%> !</h1>
            <%}else{%>
                <h1 style="color:rgb(53, 53, 53)"> <%= Dayname%><br> <%= kindOfDay%>  <%= Date%> <%= Month%> !</h1>
            <%}%>
        </div>
    </header>
</body>
</html>